body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    position: static;
    height: 50px;
    width: 1300px;
    background: #db4d40;
}

.header span {
    color: white;
    font: 24px AppleSDGothicNeoB00;
    display: inline-block;
    height: 100%;
    line-height: 50px;
    margin-left: 20px;
}

.sidebar{
    height: 700px;
    width: 300px;
    background: #f2f2f2;
    float: left;
}

.mainContent {
    background: white;
    box-sizing: border-box;
    height: 700px;
    width: 1000px;
    float: left;
}

#add {
    height: 40px;
    width: 200px;
    color: #f6cece;
}

#add span {
    display: inline-block;
    height: 32px;
}

#addIcon {
    float: left;
    line-height: 32px;
    font-size: 32px;
    font-family: AppleSDGothicNeoB00;
    margin: 10px 10px 10px 15px;
}

#addText {
    float : left;
    line-height: 30px;
    font-size: 16px;
    margin: 10px 0px 10px 5px;
    font-family: AppleSDGothicNeoR00;
}

#add:hover{
    color: #db4d40;
    cursor: pointer;
}

#taskInput {
    float: left;
    display: none;
    opacity: 0;
    margin: 10px 0px 10px 0px;
}

#taskInput>input{
    height: 24px;
    width : 500px;
    font-family: AppleSDGothicNeoR00;
}

.tasks{
}

.tasks ul {
    margin-top: 10px;
}

    .tasks ul li {
        margin-bottom: 15px;
        list-style : none;
    }

        .tasks ul li input[type="checkbox"] {
            display: none;
        }

            .tasks ul li input[type="checkbox"] + label {
                width: 17px;
                height: 17px;
                background: #db4d40;
                cursor: pointer;
                border-radius: 3px;
                float: left;
            }

            .tasks ul li input[type="checkbox"]:checked + label {
                background: url(../images/check.png) #db4d40 no-repeat center/10px 10px;
                float: left;
            }

            .tasks ul li input[type="checkbox"] + label span {
                position: absolute;
                left: 0px;
                display: block;
            }



/*Animation*/
.addTaskDisappear {
    animation: addTaskDisappear ease .5s;
    animation-fill-mode: forwards;
}

.taskInputAppear {
    animation: taskInputAppear ease 1s;
    animation-fill-mode: forwards;
}

@keyframes addTaskDisappear {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        margin-left: 30px;
    }
}

@keyframes taskInputAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}